@import "tailwindcss";

/* defining the variable or the custom colors and components that we will use. */



.bg-color {
    @apply bg-yellow-50/70
}

.color-primary{
    @apply text-stone-800
}

.color-secondary{
    @apply text-stone-700
}

.title-font{
    @apply text-[7rem] text-stone-800 font-semibold

}


.text-font{
    @apply text-stone-600 text-2xl
}