@import "tailwindcss";

.bg-color {
    @apply bg-yellow-50/70
}

.color-primary{
    @apply text-stone-800
}

.color-secondary{
    @apply text-stone-700
}

.title-font{
    @apply text-[7rem] text-stone-800 font-semibold

}

.text-font{
    @apply text-stone-600 text-2xl
}
.slide-in{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background-color:rgb(255, 122, 14);
    transform-origin: bottom;
}

.slide-out{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background-color: #fff;
    transform-origin: top;
}
